<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - Application context definition for WebStore's business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext-local (see web.xml's "contextConfigLocation").
	-->
<beans>

	<!-- ========================= GENERAL DEFINITIONS ========================= -->

	<!-- Configurer that replaces ${...} placeholders with values from properties files -->
	<!-- (in this case, mail and JDBC related properties) -->
	<!-- I don't use these anymore..could remove it..
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/mail.properties</value>
				<value>WEB-INF/jdbc.properties</value>
			</list>
		</property>
	</bean>
    -->
    <!-- The resource bundle expected to be stored.. needs the basename of the
       - bundle, for example messages for messages.properties (message_en.properties,
       - message_fr.properties, and so on) file in the root of the class path (according to java.util.ResourceBundle rules).-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename"><value>messages</value></property>
    </bean>


	<!-- MailSender used by EmailAdvice -->

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host"><value>relais.videotron.ca</value></property>
	</bean>


	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->


	<!-- EMail Bean used to send confirmation email after order has been submitted -->
	<bean id="emailConfirmation" class="ca.canvac.webstore.domain.logic.SendOrderEmailConfirmation" init-method="init">
        <property name="mailSender"><ref local="mailSender"/></property>
	    <!-- Important: only true or false are valid values (true is for activation)-->
        <property name="mailServiceActive"><value>true</value></property>
	    <property name="mailFrom"><value>martin.ouellet@myrealbox.com</value></property>
	    <property name="mailTo"><ref bean="toMailList"></ref></property>
	    <property name="subject"><value>Canvac webstore new order alert</value></property>
	    <property name="text"><value>New order received in Canvac Webstore.  </value></property>
    </bean>

    <bean id="toMailList" class="java.util.ArrayList">
    <constructor-arg>
      <list>
        <value>martin.ouellet@myrealbox.com</value>
        <value>martin.ouellet@myrealbox.com</value>
      </list>
    </constructor-arg>
  </bean>

     <!-- WebStore primary business object: default implementation -->
    <bean id="WebStoreTarget" class="ca.canvac.webstore.domain.logic.WebStoreImpl">
        <property name="accountDao"><ref bean="accountDao"/></property>
        <property name="categoryDao"><ref bean="categoryDao"/></property>
        <property name="subCategoryDao"><ref bean="subCategoryDao"/></property>
        <property name="itemDao"><ref bean="itemDao"/></property>
        <property name="orderDao"><ref bean="orderDao"/></property>
        <property name="sendEmailOrder"><ref bean="emailConfirmation"/></property>
    </bean>


    <!-- Transactional proxy for the WebStore primary business object -->
    <bean id="WebStore" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager"><ref bean="transactionManager"/></property>
        <property name="target"><ref local="WebStoreTarget"/></property>
        <property name="transactionAttributes">
            <props>
                <prop key="insert*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
      </bean>

        <!--Here, we group various application level Configuration
          - parameters.  Things such as the WebPageSize, etc...
          -->
        <bean id="appConfig" class="ca.canvac.webstore.AppConfig">
            <property name="webPageSize"><value>25</value>
            </property>
        </bean>

</beans>
